@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700);
@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--cream);
  display: grid;
  align-items: center;
  vertical-align: middle;
}
main {
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  max-width: 600px;
}

main picture {
  flex: auto;
  width: 300px;
}
article {
  flex: auto;
  width: 300px;
  padding: 32px;
}
article .price {
  display: flex;
  vertical-align: middle;
  margin-bottom: 29px;
}
button {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  background-color: var(--dark-cyan);
  color: var(--white);
  border: 0;
  display: block;
  width: 100%;
  padding: 14px 0 13px;
  border-radius: 8px;
}
button:active {
  background-color: hsl(158, 37%, 17%);
}

button img {
  display: inline-block;
  margin-left: 1px;
  margin-bottom: -3px;
  margin-right: 7px;
}
h1 {
  color: var(--dark-grayish-blue);
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 18px;
}
h2 {
  color: var(--very-dark-blue);
  font-size: 32px;
  font-family: "Fraunces";
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 24px;
}
p {
  color: var(--dark-grayish-blue);
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 23px;
  font-size: 14px;
  margin-bottom: 29px;
  letter-spacing: 0.1px;
}
.new-price {
  color: var(--dark-cyan);
  font-size: 32px;
  font-weight: 700;
  font-family: "Fraunces";
  line-height: 32px;
}
.old-price {
  color: var(--dark-grayish-blue);
  font-weight: 500;
  margin-left: 20px;
  margin-top: 7px;
  font-size: 12px;
  text-decoration: line-through;
  font-family: "Montserrat";
}

@media only screen and (max-width: 679px) {
  main {
    width: 340px;
  }
  main article {
    flex: auto;
    padding: 25px;
    padding-right: 20px;
  }
  main .price {
    margin-bottom: 20px;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.attribution {
  font-family: "Montserrat";
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
